<ul id="social-profiles">
	<li class="twitter"><a data-toggle="tooltip" data-placement="top" data-original-title="Follow me on Twitter!" href="#"><i class="icon-twitter3"></i></a></li>
	<li class="facebook"><a data-toggle="tooltip" data-placement="top" data-original-title="Finde me on Facebook!" href="#"><i class="icon-facebook3"></i></a></li>
	<li class="rss"><a data-toggle="tooltip" data-placement="top" data-original-title="Subscribe!" href="{{@blog.url}}rss"><i class="icon-feed4"></i></a></li>
</ul>
